<div class="container hero-information">
  <div class="row">
    <div class="container mb-10 col-8">
      <div class="hero-img">
        <% if @hero.photo.attached? %>
          <%= cl_image_tag @hero.photo.key, height: 300, width: 600, crop: :fill %>
        <% end %>
      </div>
      <div class="row pt-5">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <h1><%= @hero.title %></h1>
          <br>
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">Superpower</th>
                <td><%= @hero.superpower %></td>
              </tr>
              <tr>
                <th scope="row">Description</th>
                <td><%= @hero.description %></td>
              </tr>
              <tr>
                <th scope="row">City</th>
                <td><%= @hero.city %></td>
              </tr>
              <tr>
                <th scope="row">Price</th>
                <td><%= @hero.price %> €</td>
              </tr>
              <tr>
                <th scope="row">Availability</th>
                <td><%= @hero.availability %></td>
              </tr>
            </tbody>
          </table>
          <h3></h3>
        </div>
      </div>
    </div>

    <div class="booking-section col-4">
    <%= render 'bookings/booking' %>
      <div class="reviews container" style="padding-top: 50px; border-top-color: rgb(221, 221, 221);">
        <ul style="padding-left: 0;">
          <% if @hero.reviews.blank? %>
           <p>Be the first to leave a review for: <strong><%= @hero.title %></strong></p>
          <% else %>
            <h2 style="text-align: center; font-size: 26px;">reviews (<%=@hero.reviews.count%>)</h2>
            <% @hero.reviews.each do |review| %>
              <li>
                <div class="notification">
                  <img src='https://res.cloudinary.com/dtulzuk5j/image/upload/v1605874354/Dorian-profile-pic-square_q5lm5n.jpg' class="avatar-large" />
                  <div class="notification-content">
                    <p><small><%= Date.today.to_s(:long)%></small></p>
                    <p><%= review.content %></p>
                    <div class="stars" style="display: flex;">
                        <% count = 0 %>
                        <% 5.times do %>
                          <% if review.rating > count %>
                            <i class="fas fa-star"></i>
                          <% else %>
                            <i class="far fa-star" style="font-size:24px;"></i>
                          <% end %>
                          <% count += 1 %>
                        <% end %>
                    </div>
                  </div>
                </div>
              </li>
            <% end %>
          <% end %>
            <div class="container">
              <%= simple_form_for [ @hero, @review ] do |f| %>
                <%= f.input :rating, collection: 0..5 %>
                <%= f.input :content %>
                <%= f.submit "Submit review", class: "btn btn new-hero-submit-button mb-5" %>
              <% end %>
            </div>
        </ul>
      </div>
    </div>
  </div>
</div>
