<div class="container hero-information">
  <div class="row">
    <div class="container mb-10 col-8">
      <div class="hero-img">
      <% if @hero.photo.attached? %>
        <%= cl_image_tag @hero.photo.key, height: 300, width: 600, crop: :fill %>
      <% end %>
      </div>
      <div class="row pt-5">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <h1><%= @hero.title %></h1>
          <br>
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">Superpower</th>
                <td><%= @hero.superpower %></td>
              </tr>
              <tr>
                <th scope="row">Description</th>
                <td><%= @hero.description %></td>
              </tr>
              <tr>
                <th scope="row">City</th>
                <td><%= @hero.city %></td>
              </tr>
              <tr>
                <th scope="row">Price</th>
                <td><%= @hero.price %> €</td>
              </tr>
              <tr>
                <th scope="row">Availability</th>
                <td><%= @hero.availability %></td>
              </tr>
            </tbody>
          </table>
          <h3></h3>
        </div>
      </div>
    </div>

    <div class="booking-section col-4">
    <%= render 'bookings/booking' %>
    </div>
  </div>
</div>
