<div class="main-container">
  <div class="banner image-fit">
    <div class="font-container">
      <h2 class="tag-line">A hero for every moment</h2>
    </div>
  </div>

  <div class="cards-container">
    <div class="homepage-cards">
      <h1>Find your hero</h1>
      <p>Improve every situation with a hero by your side</p>
      <%= link_to heros_path do  %>
       <button class="btn button-book">Get started</button>
      <% end %>
     </div>
  </div>
<!--     <h2 class="text-center">A hero by your side makes every moment better</h2> -->
  <div class="full-home-feelings-banner"></div>
  <div class="container how-it-works">
    <h1>How it works</h1>
    <div class="row">
      <div class="col-4">
        <div>
          <img src="" alt="" style="asset_url()">
          <h3>Define your power</h3>
          <p>All heroes start with a power. Think about how your power will come in handy. When you have an idea, <%= link_to "start the submission process", new_hero_path %></p>
        </div>
        <div>
          <img src="" alt="">
          <h3></h3>
          <p></p>
        </div>
        <div>
          <img src="" alt="">
          <h3></h3>
          <p></p>
        </div>
      </div>
    </div>

  </div>

  <div class="container heros-display">
    <div class="cards row justify-content-center">
      <% @heros.each do |hero| %>
        <%  if hero.bookings.empty? %>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 m-3 card-hero">
            <% if hero.photo.attached? %>
              <td><%= cl_image_tag hero.photo.key, height: 300, width: 400, crop: :fill %></td>
            <% end %>
            <div class="card-hero-infos py-3 px-2">
              <h1><%= link_to hero.title, hero_path(hero) %></h1>
              <p><%= hero.superpower %></p>
              <button class="btn btn-book">About us</button>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
